<h1><%= Date.today %> の 質問一覧 </h1>

  <% @presentation.each do |presentation| %>
      <div style="text-align: center;">
        <p><%= presentation.id %></p>
        <p><%= presentation.name %></p>
        <p style="font-size: 36px; padding: 20px 20px; margin: 20px 20px;"><%= presentation.body %></p>
      </div>
  <% end %>
<style>
  body {
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
</style>



